<div class=" background-white">
    <div class=" col-lg-10 col-md-12 ofsset-md-2 col-sm-0 offset-sm-0 offset-lg-1 ">
       <div class="  d-flex justify-content-start"><label class="animated fadeIn slow label-h6 mt-5 muted">Patología</label></div> 
        <div class="  d-flex justify-content-start" ><i class="fas fa-chevron-left fa-2x mr-5 mt-1 my-hover" routerLink="/patologia"></i><label class="animated fadeIn slow label-h2  "><b>GLAUCOMA</b></label></div>
    </div>
  
    <hr class="hr-100">

        <div class="  d-flex justify-content-center col-lg-8 col-md-12 ofsset-md-2 col-sm-0 offset-sm-0 offset-lg-2 mb-5 ">
          <img src="./assets/images/patologias/GLAUCOMA.jpg" alt="image" style="display: inline-block; height: 400px; ">
        </div>
  
      
        
    <div class="  d-flex justify-content-center col-lg-8 col-md-12 ofsset-md-2 col-sm-0 offset-sm-0 offset-lg-2">
        <p  class="animated fadeIn slow label-h5  "><b class="label-h4">E</b>l glaucoma es una enfermedad que daña el nervio óptico del ojo. Por lo general ocurre cuando se acumula líquido en la parte frontal del ojo. Ese exceso de líquido aumenta la presión en el ojo, dañando el nervio óptico. El glaucoma es una causa principal de ceguera en personas mayores de 60 años de edad. Pero la ceguera debida al glaucoma se puede prevenir con un tratamiento oportuno. Cuando el glaucoma se desarrolla, por lo general usted no tiene ningún síntoma precoz y la enfermedad progresa lentamente. De esta manera, el glaucoma puede robar su vista de forma muy gradual. Afortunadamente, la detección temprana y el tratamiento (con gotas para el glaucoma, cirugía de glaucoma o ambos) pueden ayudar a preservar su visión.






        </p>
      </div>

      <hr class="hr-100">
      <br>
</div>