<div class=" row d-flex justify-content-center">
    <label class="animated fadeIn slow label-h3 mt-5 ">Obras sociales</label>
</div>
<hr class="hr-50">
<div class=" flexbox mt-2">
    <div class="box draw m-1 d-flex justify-content-center ">
        <label class="animated fadeIn slow label-h6  d-flex align-items-center">A.M.F.F.A</label>
            
      </div>
      <div class="box draw  m-1 d-flex justify-content-center">
          <label class="animated fadeIn slow label-h6 p-3  d-flex align-items-center">ACA SALUD</label>
              
        </div>

        <div class="box draw  m-1 d-flex justify-content-center">
            <label class="animated fadeIn slow label-h6 p-3  d-flex align-items-center">ALL MEDICINE

              </label>
                
          </div>
          <div class="box draw m-1 d-flex justify-content-center ">
              <label class="animated fadeIn slow label-h6  d-flex align-items-center">AMISA</label>
                  
            </div>
            <div class="box draw m-1 d-flex justify-content-center ">
                <label class="animated fadeIn slow label-h6  d-flex align-items-center">ANDES SALUD

                  </label>
                    
              </div>

              <div class="box draw m-1 d-flex justify-content-center ">
                  <label class="animated fadeIn slow label-h6  d-flex align-items-center">ATE</label>
                      
                </div>

                <div class="box draw m-1 d-flex justify-content-center ">
                    <label class="animated fadeIn slow label-h6  d-flex align-items-center">ATSA OSPSA

                      </label>
                        
                  </div>
                  <div class="box draw m-1 d-flex justify-content-center ">
                      <label class="animated fadeIn slow label-h6  d-flex align-items-center">BOREAL</label>
                          
                    </div>

                        <div class="box draw m-1 d-flex justify-content-center ">
        <label class="animated fadeIn slow label-h6  d-flex align-items-center">CIMAC</label>
            
      </div>
      <div class="box draw m-1 d-flex justify-content-center ">
          <label class="animated fadeIn slow label-h6  d-flex align-items-center">COLMED</label>
              
        </div>

        <div class="box draw m-1 d-flex justify-content-center ">
            <label class="animated fadeIn slow label-h6  d-flex align-items-center">DAMSU</label>
                
          </div>

          <div class="box draw m-1 d-flex justify-content-center ">
              <label class="animated fadeIn slow label-h6  d-flex align-items-center">IOSFA</label>
                  
            </div>


            <div class="box draw m-1 d-flex justify-content-center ">
                <label class="animated fadeIn slow label-h6  d-flex align-items-center">DSS POLICIA DE SJ

                  </label>
                    
              </div>

              <div class="box draw m-1 d-flex justify-content-center ">
                  <label class="animated fadeIn slow label-h6  d-flex align-items-center">FEDERADA SALUD

                    </label>
                      
                </div>

                <div class="box draw m-1 d-flex justify-content-center ">
                    <label class="animated fadeIn slow label-h6  d-flex align-items-center">GALENO</label>
                        
                  </div>
              
                  <div class="box draw m-1 d-flex justify-content-center ">
                      <label class="animated fadeIn slow label-h6  d-flex align-items-center">JERARQUICOS SALUD

                        </label>
                          
                    </div>

                    <div class="box draw m-1 d-flex justify-content-center ">
                        <label class="animated fadeIn slow label-h6  d-flex align-items-center">LUIS PASTEUR

                          </label>
                            
                      </div>

                      <div class="box draw m-1 d-flex justify-content-center ">
                          <label class="animated fadeIn slow label-h6  d-flex align-items-center">LUZ Y FUERZA

                            </label>
                              
                        </div>


                        <div class="box draw m-1 d-flex justify-content-center ">
                            <label class="animated fadeIn slow label-h6  d-flex align-items-center">MEDICUS</label>
                                
                          </div>


                          <div class="box draw m-1 d-flex justify-content-center ">
                              <label class="animated fadeIn slow label-h6  d-flex align-items-center">MEDIFE</label>
                                  
                            </div>






                            <div class="box draw m-1 d-flex justify-content-center ">
                                <label class="animated fadeIn slow label-h6  d-flex align-items-center">MEDISALUD</label>
                                    
                              </div>

                              
                              
                          <div class="box draw m-1 d-flex justify-content-center ">
                              <label class="animated fadeIn slow label-h6  d-flex align-items-center">MUDAP</label>
                                  
                            </div>


                            
                          <div class="box draw m-1 d-flex justify-content-center ">
                              <label class="animated fadeIn slow label-h6  d-flex align-items-center">O.S.A.P.M

                                </label>
                                  
                            </div>

                            <div class="box draw m-1 d-flex justify-content-center ">
                                <label class="animated fadeIn slow label-h6  d-flex align-items-center">O.S.D.I.P.P

                                  </label>
                                    
                              </div>

                              <div class="box draw m-1 d-flex justify-content-center ">
                                  <label class="animated fadeIn slow label-h6  d-flex align-items-center">O.S.F.Y.H.C

                                    </label>
                                      
                                </div>

                                <div class="box draw m-1 d-flex justify-content-center ">
                                    <label class="animated fadeIn slow label-h6  d-flex align-items-center">O.S.P.A.T.C.A

                                      </label>
                                        
                                  </div>

                                  <div class="box draw m-1 d-flex justify-content-center ">
                                      <label class="animated fadeIn slow label-h6  d-flex align-items-center">O.S.P.I.S

                                        </label>
                                          
                                    </div>

                                    <div class="box draw m-1 d-flex justify-content-center ">
                                        <label class="animated fadeIn slow label-h6  d-flex align-items-center">O.S.S.E.G

                                          </label>
                                            
                                      </div>

                                      <div class="box draw m-1 d-flex justify-content-center ">
                                          <label class="animated fadeIn slow label-h6  d-flex align-items-center">OBRA SOCIAL PROVINCIA

                                            </label>
                                              
                                        </div>

                                        <div class="box draw m-1 d-flex justify-content-center ">
                                            <label class="animated fadeIn slow label-h6  d-flex align-items-center">OMINT</label>
                                                
                                          </div>

                                          <div class="box draw m-1 d-flex justify-content-center ">
                                              <label class="animated fadeIn slow label-h6  d-flex align-items-center">OSCA</label>
                                                  
                                            </div>

                                            <div class="box draw m-1 d-flex justify-content-center ">
                                                <label class="animated fadeIn slow label-h6  d-flex align-items-center">OSDE</label>
                                                    
                                              </div>

                                              <div class="box draw m-1 d-flex justify-content-center ">
                                                  <label class="animated fadeIn slow label-h6  d-flex align-items-center">OSDEPYM</label>
                                                      
                                                </div>


                                                <div class="box draw m-1 d-flex justify-content-center ">
                                                    <label class="animated fadeIn slow label-h6  d-flex align-items-center">OSECAC</label>
                                                        
                                                  </div>


                                                  <div class="box draw m-1 d-flex justify-content-center ">
                                                      <label class="animated fadeIn slow label-h6  d-flex align-items-center">OSETYA</label>
                                                          
                                                    </div>

                                                    <div class="box draw m-1 d-flex justify-content-center ">
                                                        <label class="animated fadeIn slow label-h6  d-flex align-items-center">OSMATA</label>
                                                            
                                                      </div>
                                                      <div class="box draw m-1 d-flex justify-content-center ">
                                                          <label class="animated fadeIn slow label-h6  d-flex align-items-center">OSPAT</label>
                                                              
                                                        </div>
                                                        <div class="box draw m-1 d-flex justify-content-center ">
                                                            <label class="animated fadeIn slow label-h6  d-flex align-items-center">OSPE</label>
                                                                
                                                          </div>
                                                          <div class="box draw m-1 d-flex justify-content-center ">
                                                              <label class="animated fadeIn slow label-h6  d-flex align-items-center">OSPEDYC</label>
                                                                  
                                                            </div>
                                                            <div class="box draw m-1 d-flex justify-content-center ">
                                                                <label class="animated fadeIn slow label-h6  d-flex align-items-center">OSPERYHRA</label>
                                                                    
                                                              </div>
                                                              <div class="box draw m-1 d-flex justify-content-center ">
                                                                  <label class="animated fadeIn slow label-h6  d-flex align-items-center">OSPIQYP</label>
                                                                      
                                                                </div>
                                                                        






</div>

