
<div class=" background-white">
    <div class=" col-lg-8 col-md-12 ofsset-md-2 col-sm-0 offset-sm-0 offset-lg-2 " >
      <div class="d-flex justify-content-center">
          <label class="animated fadeIn slow label-h3 mt-5 ">Nuestra Clínica</label>
      </div>
                   
          <br>
      
              <p class="    animated fadeIn texto-monserrat">En el año 1996, se constituyó la sociedad Clínica de la Visión S.R.L. cuyos socios son Dr. Plana Héctor Luis, Dr. Rodríguez Walter, Dr. Hernández Juan Marcos, Dr. Sánchez Miguel,  Dra. Penner Gabriela y Dra. Dubos Elena María.
              </p>
              <p class="   animated fadeIn ">
                  En 1997 se adquiere la propiedad donde funciona la Clínica en la actualidad, la cual se inauguró en 1998. 
                </p>
                <p class="  animated fadeIn ">
                  Desde el año 1998 al 2003, la clínica fue sucursal del Instituto Zaldívar, lo cual significaba el uso del equipo Laser Net. 
                </p>
                <p class="    animated fadeIn ">
                    En el año 2004 se llevó a cabo la ampliación de los quirófanos lo cual le permitió a la Clínica renovarse y abarcar el tratamiento y curación de patologías oftalmológicas. Se incorporaron además, equipos de diagnóstico y tratamiento de última generación, así como también el instrumental quirúrgico necesario. 
                </p>
              
              
                <br>

               
                <hr class="hr-50">
          <br>

            <b><label class=" text-muted  slow label-h4"><span   style="font-size: 24px; color: Dodgergray;"></span> Misión </label></b>
          
                  <p class="    animated fadeIn ">
                   Brindar un servicio de calidad en prestaciones médicas oftalmológica para la ciudad de
                  San Juan, orientados en prevenir y mejorar enfermedades oculares y contando con
                   sólidas bases éticas y calidad de atención.
                </p>
                <br>

            <b><label class=" text-muted  slow label-h4"><span   style="font-size: 24px; color: Dodgergray;"></span> Visión </label></b>
                  <p class="    animated fadeIn ">
                  Ser un establecimiento líder en salud oftalmológica, que sea referente en nuestra
                  comunidad y en la zona de cuyo, contando con personal y profesionales comprometidos
                  en proteger y mejorar la calidad de vida de nuestros pacientes. Trabajar promoviendo el
                  crecimiento y desarrollado permanente en la búsqueda de la excelencia.
                </p>
                <br>

               <b> <label class=" text-muted  slow label-h4"><span   style="font-size: 24px; color: Dodgergray;"> </span> Valores </label></b>
                  <p class="    animated fadeIn ">
                  La cultura de nuestra organización que determina la forma de pensar, sentir y actuar de
                  todos nuestros colaboradores esta basada en valores, creencias, costumbres, politicas y
                  normas compartidos por todos.
                </p>
                 <p >
                 <b class="label-h7 text-muted">INTEGRIDAD:</b>  Mantenemos una conducta honesta y transparente basada en la Ética.
                </p>
                <p >
                <b class="label-h7 text-muted">RESPETO:</b> Valoramos a nuestros pacientes tratándolos con equidad y con la misma
                consideración que deseamos tener.
                </p>
                     <p >
                    <b class="label-h7 text-muted"> TRABAJO EN EQUIPO:</b> Promovemos el trabajo en Equipo en un ambiente constructivo y de comunicación abierta.
                </p>
                <p >
                    <b class="label-h7 text-muted"> DESARROLLO PERSONAL:</b> Promovemos el adecuado desarrollo y crecimiento  personal y profesional de nuestros colaboradores, en un ambiente de trabajo seguro y armonioso.
                </p>
                <p >
                        <b class="label-h7 text-muted"> ORIENTACION A LA CALIDAD:</b> Buscamos la excelencia en todos nuestros procesos promoviendo el mejoramiento continuo.
                </p>


         
    </div>
  </div>
