<div class=" background-white">
    <div class=" col-lg-10 col-md-12 ofsset-md-2 col-sm-0 offset-sm-0 offset-lg-1 ">
       <div class="  d-flex justify-content-start"><label class="animated fadeIn slow label-h6 mt-5 muted">Patología</label></div> 
        <div class="  d-flex justify-content-start" ><i class="fas fa-chevron-left fa-2x mr-5 mt-1 my-hover" routerLink="/patologia"></i><label class="animated fadeIn slow label-h2  "><b>OBSTRUCCION LAGRIMAL</b></label></div>
    </div>
  
    <hr class="hr-100">

        <div class="  d-flex justify-content-center col-lg-8 col-md-12 ofsset-md-2 col-sm-0 offset-sm-0 offset-lg-2 mb-5 ">
          <img src="./assets/images/patologias/OBTRUCCIONLAGRIMAL.jpg" alt="image" style="display: inline-block; height: 400px; ">
        </div>
  
      
        
    <div class="  d-flex justify-content-center col-lg-8 col-md-12 ofsset-md-2 col-sm-0 offset-sm-0 offset-lg-2">
        <p  class="animated fadeIn slow label-h5  "><b class="label-h4">U</b>na obstrucción del conducto lagrimal ocurre cuando el sistema de drenaje de lágrimas es parcial o totalmente obstruido. Las lágrimas no pueden ser drenadas normalmente, causando ojos acuosos, irritados o crónicamente infectados. La mayoría de las lágrimas provienen de las glándulas lagrimales, situadas encima de cada ojo. Las lágrimas fluyen hacia la superficie del ojo para lubricarlo y protegerlo, y drenan a través de unos pequeños orificios (puntos lagrimales) en las esquinas de los párpados superiores e inferiores. Las lágrimas luego viajan a través de unos pequeños canales en las párpados (canalículos lagrimales) al saco lagrimal, situado donde el párpado y la nariz se unen, y continúan a través del conducto nasolagrimal antes desembocar en la nariz, donde se evaporan o son reabsorbidas.






        </p>
      </div>

      <hr class="hr-100">
      <br>
</div>