
<div class=" background-white">
  <div class=" col-lg-8 col-md-12 ofsset-md-2 col-sm-0 offset-sm-0 offset-lg-2 " >
    <div class="d-flex justify-content-center">
        <label class="animated fadeIn slow label-h3 mt-5 ">Formas de pago</label>
        
    </div>
    <div class="pb-3">
      <hr class="hr-50">
      <label class="animated fadeIn slow label-h6 mt-5 d-flex justify-content-center  ">Podes pagar con cualquiera de estas entidades</label>
    </div>
    <div>
      <article class=" shadow curve my-hover">
        <div class="d-flex justify-content-center">
          <img src="./assets/images/tarjetas/visa.png" alt="image"  class="image-size" >
        </div>
  
        <div>
         
        </div>
      </article>
    </div>

    <div>
      <article class=" shadow curve my-hover">
        <div class="d-flex justify-content-center">
          <img src="./assets/images/tarjetas/mastercard.png" alt="image"  class="image-size" >
        </div>
  
        <div>
       
        </div>
      </article>
    </div>

    <div>
      <article class="shadow curve my-hover">
        <div class="d-flex justify-content-center">
          <img src="./assets/images/tarjetas/mercadopago.png" alt="image" class="image-size" >
        </div>
  
        <div>
        
        </div>
      </article>
    </div>

    <div>
      <article class="shadow curve my-hover">
        <div class="d-flex justify-content-center">
          <img src="./assets/images/tarjetas/data.jpg" alt="image" class="image-size" >
        </div>
  
        <div>
        
        </div>
      </article>
    </div>
  </div>
</div>