
<div class=" background-white">
    <div class=" row d-flex justify-content-center">
        <label class="animated fadeIn slow label-h3 mt-5 ">Patologías y tratamientos</label>
    </div>
    <hr class="hr-50">
    <div class=" col-lg-10 col-md-12 ofsset-md-2 col-sm-0 offset-sm-0 offset-lg-1 mt-5" >
      <div class=" row d-flex justify-content-center">

        <div class="col-sm-12 col-xs-12 col-md-4 col-lg-4 my-hover " routerLink="/patologia/catarata">
            <article class="card-local shadow curve">
                <div>
                  <img src="./assets/images/patologias/CATARATA-mini.jpg" alt="image">
                </div>
          
                <div>
                  <p><strong class="text-color-6C3483 label-h4">Cataratas</strong></p>
                  <span>
                    <a> <i class="fas fa-plus mr-1"></i>Leer mas</a>
                   </span>
                </div>
              </article>
        </div>
        <div class="col-sm-12 col-xs-12 col-md-4 col-lg-4">
            <article class="card-local shadow curve  my-hover" routerLink="/patologia/chalazion">
                <div>
                  <img src="./assets/images/patologias/CHALAZION-mini.jpg" alt="image">
                </div>
          
                <div>
                  <p><strong class="text-color-6C3483 label-h4">Chalazión</strong></p>
                  <span>
                      <a> <i class="fas fa-plus mr-1"></i>Leer mas</a>
                   </span>
                </div>
              </article>
          </div>

          <div class="col-sm-12 col-xs-12 col-md-4 col-lg-4" routerLink="/patologia/desprendimientoretina">
              <article class="card-local shadow curve  my-hover">
                  <div>
                      <img src="./assets/images/patologias/DESPRENDIMIENTODERETINA.jpg" alt="image">
                  </div>
            
                  <div>
                    <p><strong class="text-color-6C3483 label-h4">Desprendimiento de retina</strong></p>
                    <span>
                        <a> <i class="fas fa-plus mr-1"></i>Leer mas</a>
                     </span>
                  </div>
                </article>
            </div>
      </div>
    </div>



    <div class=" col-lg-10 col-md-12 ofsset-md-2 col-sm-0 offset-sm-0 offset-lg-1 "  >
        <div class=" row d-flex justify-content-center">
  
          <div class="col-sm-12 col-xs-12 col-md-4 col-lg-4 my-hover" routerLink="/patologia/estrabismo">
              <article class="card-local shadow curve">
                  <div>
                    <img src="./assets/images/patologias/ESTRABISMO-mini.png" alt="image">
                  </div>
            
                  <div>
                    <p><strong class="text-color-6C3483 label-h4">Estrabismo</strong></p>
                    <span>
                      <a> <i class="fas fa-plus mr-1"></i>Leer mas</a>
                     </span>
                  </div>
                </article>
          </div>
          <div class="col-sm-12 col-xs-12 col-md-4 col-lg-4" routerLink="/patologia/miopia">
              <article class="card-local shadow curve  my-hover">
                  <div>
                    <img src="./assets/images/patologias/MIOPIA-mini.jpg" alt="image">
                  </div>
            
                  <div>
                    <p><strong class="text-color-6C3483 label-h4">Miopía</strong></p>
                    <span>
                        <a> <i class="fas fa-plus mr-1"></i>Leer mas</a>
                     </span>
                  </div>
                </article>
            </div>
  
            <div class="col-sm-12 col-xs-12 col-md-4 col-lg-4" routerLink="/patologia/glaucoma">
                <article class="card-local shadow curve  my-hover">
                    <div>
                        <img src="./assets/images/patologias/GLAUCOMA-mini.jpg" alt="image">
                    </div>
              
                    <div>
                      <p><strong class="text-color-6C3483 label-h4">Glaucoma</strong></p>
                      <span>
                          <a> <i class="fas fa-plus mr-1"></i>Leer mas</a>
                       </span>
                    </div>
                  </article>
              </div>
        </div>
      </div>


      
    <div class=" col-lg-10 col-md-12 ofsset-md-2 col-sm-0 offset-sm-0 offset-lg-1 " >
        <div class=" row d-flex justify-content-center">
  
          <div class="col-sm-12 col-xs-12 col-md-4 col-lg-4 my-hover" routerLink="/patologia/obstruccionlagrimal">
              <article class="card-local shadow curve">
                  <div>
                    <img src="./assets/images/patologias/OBTRUCCIONLAGRIMAL-mini.jpg" alt="image">
                  </div>
            
                  <div>
                    <p><strong class="text-color-6C3483 label-h4">Obstruccion lagrimal</strong></p>
                    <span>
                      <a> <i class="fas fa-plus mr-1"></i>Leer mas</a>
                     </span>
                  </div>
                </article>
          </div>
          <div class="col-sm-12 col-xs-12 col-md-4 col-lg-4" routerLink="/patologia/presbicia">
              <article class="card-local shadow curve  my-hover">
                  <div>
                    <img src="./assets/images/patologias/PRESBICIA-mini.jpg" alt="image">
                  </div>
            
                  <div>
                    <p><strong class="text-color-6C3483 label-h4">Presbicia</strong></p>
                    <span>
                        <a> <i class="fas fa-plus mr-1"></i>Leer mas</a>
                     </span>
                  </div>
                </article>
            </div>
  
            <div class="col-sm-12 col-xs-12 col-md-4 col-lg-4">
                <article class="card-local shadow curve  my-hover scrolling-box" routerLink="/patologia/retinopatiadiabetica" >
                    <div>
                        <img src="./assets/images/patologias/RETINOPATIADIABETICA-mini.jpg" alt="image">
                    </div>
              
                    <div>
                      <p><strong class="text-color-6C3483 label-h4">Retinopatía diabetica</strong></p>
                      <span>
                          <a> <i class="fas fa-plus mr-1"></i>Leer mas</a>
                       </span>
                    </div>
                  </article>
              </div>
        </div>
      </div>
  </div>