<div class=" background-white">
    <div class=" col-lg-10 col-md-12 ofsset-md-2 col-sm-0 offset-sm-0 offset-lg-1 ">
       <div class="  d-flex justify-content-start"><label class="animated fadeIn slow label-h6 mt-5 muted">Patología</label></div> 
        <div class="  d-flex justify-content-start" ><i class="fas fa-chevron-left fa-2x mr-5 mt-1 my-hover" routerLink="/patologia"></i><label class="animated fadeIn slow label-h2  "><b>ESTRABISMO</b></label></div>
    </div>
  
    <hr class="hr-100">

        <div class="  d-flex justify-content-center col-lg-8 col-md-12 ofsset-md-2 col-sm-0 offset-sm-0 offset-lg-2 mb-5 ">
          <img src="./assets/images/patologias/ESTRABISMO.jpg" alt="image" style="display: inline-block; height: 400px; ">
        </div>
  
      
        
    <div class="  d-flex justify-content-center col-lg-8 col-md-12 ofsset-md-2 col-sm-0 offset-sm-0 offset-lg-2">
        <p  class="animated fadeIn slow label-h5  "><b class="label-h4">E</b>l 
          estrabismo es una desviación del alineamiento de un ojo en relación a otro, ocasiona una visión binocular incorrecta. Existen diferentes tipos de estrabismo, según el músculo que esté comprometido. El estrabismo es un problema visual que hace que los ojos no estén alineados correctamente y apunten en diferentes direcciones. Un ojo puede mirar hacia delante, mientras que el otro se vuelve hacia adentro, hacia afuera, hacia arriba o hacia abajo. El giro del ojo puede ser consistente o puede ir y venir. La alineación correcta puede intercambiar o alternarse de un ojo al otro.



        </p>
      </div>

      <hr class="hr-100">
      <div class="mb-5"></div>
</div>