

<div class=" background-white mt-3 mb-5">    
        <div class="flexbox row">
    <div class="container">

     <!--    <article class="card-local shadow curve my-hover">
            <div>
              <img src="./assets/images/redes/jornada.png" alt="image">
            </div>
      
            <div>
              <p><strong class="text-color-6C3483 label-h6">Noticias</strong></p>
              <span>
                
                Primer Día de las XIX JORNADAS CUYANAS DE OFTALMOLOGÍA
                JORNADAS REGIONALES CAO. 👁️
                7,8 y 9 de Noviembre. Sierras Azules - San Juan
               </span>
            </div>
          </article> -->
    <!--card-local with shadow-->
      <article class="card-local shadow curve my-hover">
        <div>
          <img src="./assets/images/small-img/joven-doctora.jpg" alt="image"  routerLink="/medicos">
        </div>
  
        <div>
          <p><strong class="text-color-6C3483 label-h6">Staff de médicos</strong></p>
          <span class="muted">
            
             Conozca quienes son nuestros médicos 
           </span>
        </div>
      </article>
      
       
    <!--card-local with border-->
      <article class="card-local shadow curve my-hover"  routerLink="/estudios">
        <div>
          <img src="./assets/images/small-img/estudios.jpg" alt="image">
        </div>
  
        <div>
            <p><strong class="text-color-6C3483 label-h6">Estudios</strong></p>
          <span>
            Consulte acerca de los estudios que realizamos en nuestra clínica
             
           </span>
        </div>
      </article>
      
   
       
    <!--card-local with shadow curve-->
      <article class="card-local shadow curve my-hover"  routerLink="/patologia">
        <div>
          <img src="./assets/images/small-img/patologias.jpg" alt="image">
        </div>
  
        <div>
            <p><strong class="text-color-6C3483 label-h6">Patologías y tratamientos</strong></p>
          <span>
              Descubra las posibles afecciones de la vista y tratamientos
           </span>
        </div>
      </article>
      
       
    <!--card-local with curve and border-->

      
    </div>
  </div>
  </div>
  