<div class=" background-white">
    <div class=" col-lg-10 col-md-12 ofsset-md-2 col-sm-0 offset-sm-0 offset-lg-1 ">
       <div class="  d-flex justify-content-start"><label class="animated fadeIn slow label-h6 mt-5 muted">Patología</label></div> 
        <div class="  d-flex justify-content-start" ><i class="fas fa-chevron-left fa-2x mr-5 mt-1 my-hover" routerLink="/patologia"></i><label class="animated fadeIn slow label-h2  "><b>PRESBICIA</b></label></div>
    </div>
  
    <hr class="hr-100">

        <div class="  d-flex justify-content-center col-lg-8 col-md-12 ofsset-md-2 col-sm-0 offset-sm-0 offset-lg-2 mb-5 ">
          <img src="./assets/images/patologias/PRESBICIA.jpg" alt="image" style="display: inline-block; height: 400px; ">
        </div>
  
      
        
    <div class="  d-flex justify-content-center col-lg-8 col-md-12 ofsset-md-2 col-sm-0 offset-sm-0 offset-lg-2">
        <p  class="animated fadeIn slow label-h5  "><b class="label-h4">L</b>a presbicia, que literalmente significa "ojo envejecido", es una condición ocular relacionada con la edad que hace difícil ver las cosas de cerca. Cuando se es joven, el cristalino del ojo es suave y flexible. Éste cambia su forma fácilmente, lo que le permite enfocar objetos cercanos y lejanos. Después de los 40 añ.os de edad, el cristalino se vuelve más rígido. Debido a que el lente no puede cambiar de forma tan fácilmente como antes, actividades como la lectura o ver cosas a corta distancia es más difícil. Esta condición normal se denomina presbicia.








        </p>
      </div>

      <hr class="hr-100">
      <br>
</div>