
<div class=" header ">

<nav class=" navbar navbar-expand-lg navbar-default  container-fluid-nav fixed-top animated slideInDown " >
    
  <a class="navbar-brand " href="#">
    <img src="./assets/images/logo_clinica.png" style="display: inline-block; height: 80px; ">
    <span style="display: inline-block; "></span>
  </a>
<button class="navbar-toggler my-hover  navbar-toggler-left  navbar-button" type="button" data-toggle="collapse" 
    (click)="toggleNavbar()">
    <i class="fa fa-navicon"></i>
</button>

  <div class="collapse navbar-collapse animated fadeIn slow navbar-round "
  [ngClass]="{ 'show': navbarOpen }">
  <ul class="nav navbar-nav slideInDown d-flex justify-content-center">
    <a class=" my-hover nav-link  hvr-shrink navbar-font-mobile navbar-background-mobile texto-monserrat d-md-none d-xl-none d-lg-none" routerLink="/" (click)="toggleNavbar()" href="#"><label class="font-size-h6 ">Inicio</label></a>
    <a class=" my-hover nav-link  hvr-shrink navbar-font-mobile navbar-background-mobile texto-monserrat d-md-none d-xl-none d-lg-none" routerLink="clinica" (click)="toggleNavbar()" href="#"><label class="font-size-h6 my-hover">Nuestra clínica</label></a>
    <a class=" my-hover nav-link  hvr-shrink navbar-font-mobile navbar-background-mobile texto-monserrat d-md-none d-xl-none d-lg-none" routerLink="medicos" (click)="toggleNavbar()" href="#"><label class="font-size-h6">Staff de médicos</label></a>
    <a class=" my-hover nav-link  hvr-shrink navbar-font-mobile navbar-background-mobile texto-monserrat d-md-none d-xl-none d-lg-none" routerLink="estudios" (click)="toggleNavbar()" href="#"><label class="font-size-h6">Estudios</label></a>
    <a class=" my-hover nav-link  hvr-shrink navbar-font-mobile navbar-background-mobile texto-monserrat d-md-none d-xl-none d-lg-none" routerLink="patologia" (click)="toggleNavbar()" href="#"><label class="font-size-h6">Patologias</label></a>
    <a class=" my-hover nav-link  hvr-shrink navbar-font-mobile navbar-background-mobile texto-monserrat d-md-none d-xl-none d-lg-none" routerLink="obrasocial" (click)="toggleNavbar()" href="#"><label class="font-size-h6">Obras sociales</label></a>
    <a class=" my-hover nav-link  hvr-shrink navbar-font-mobile navbar-background-mobile texto-monserrat d-md-none d-xl-none d-lg-none" routerLink="lente" (click)="toggleNavbar()" href="#"><label class="font-size-h6">Lentes</label></a>
    <a class=" my-hover nav-link  hvr-shrink navbar-font-mobile navbar-background-mobile texto-monserrat d-md-none d-xl-none d-lg-none" routerLink="formapago" (click)="toggleNavbar()" href="#"><label class="font-size-h6">Formas de pago</label></a>
    <a class=" my-hover nav-link  hvr-shrink navbar-font-mobile navbar-background-mobile texto-monserrat d-md-none d-xl-none d-lg-none" routerLink="contacto" (click)="toggleNavbar()" href="#"><label class="font-size-h6">Contacto</label></a>


    <a class="my-hover nav-link navbar-font hvr-shrink texto-monserrat d-sm-none d-md-none d-md-block d-none d-md-block" routerLink="/" (click)="toggleNavbar()" href="#"><label class="font-size-h6  my-hover">Inicio</label></a>
    <a class="my-hover nav-link navbar-font hvr-shrink texto-monserrat d-sm-none d-md-none d-md-block d-none d-md-block" routerLink="clinica" (click)="toggleNavbar()" href="#"><label class="font-size-h6 my-hover">Nuestra clínica</label></a>
    <a class="my-hover nav-link navbar-font hvr-shrink texto-monserrat d-sm-none d-md-none d-md-block d-none d-md-block" routerLink="medicos" (click)="toggleNavbar()" href="#"><label class="font-size-h6 my-hover">Staff de médicos</label></a>
    <a class="my-hover nav-link navbar-font hvr-shrink texto-monserrat d-sm-none d-md-none d-md-block d-none d-md-block" routerLink="estudios" (click)="toggleNavbar()" href="#"><label class="font-size-h6 my-hover">Estudios</label></a>
    <a class="my-hover nav-link navbar-font hvr-shrink texto-monserrat d-sm-none d-md-none d-md-block d-none d-md-block" routerLink="patologia" (click)="toggleNavbar()" href="#"><label class="font-size-h6 my-hover">Patologias</label></a>
    <a class="my-hover nav-link navbar-font hvr-shrink texto-monserrat d-sm-none d-md-none d-md-block d-none d-md-block" routerLink="obrasocial" (click)="toggleNavbar()" href="#"><label class="font-size-h6 my-hover">Obras sociales</label></a>
    <a class="my-hover nav-link navbar-font hvr-shrink texto-monserrat d-sm-none d-md-none d-md-block d-none d-md-block" routerLink="lente" (click)="toggleNavbar()" href="#"><label class="font-size-h6 my-hover">Lentes</label></a>
    <a class="my-hover nav-link navbar-font hvr-shrink texto-monserrat d-sm-none d-md-none d-md-block d-none d-md-block" routerLink="formapago" (click)="toggleNavbar()" href="#"><label class="font-size-h6 my-hover">Formas de pago</label></a>
    <a class="my-hover nav-link navbar-font hvr-shrink texto-monserrat d-sm-none d-md-none d-md-block d-none d-md-block" routerLink="contacto" (click)="toggleNavbar()" href="#"><label class="font-size-h6 my-hover">Contacto</label></a>

</ul>

  
</div>



</nav>

<label class="label-title-big align-center-label source-sans-pro fixed-top "> Mejorando la calidad de vida de nuestros pacientes</label>
</div>
