
<div class=" background-white">
    <div class=" row d-flex justify-content-center">
        <label class="animated fadeIn slow label-h3 mt-5 ">Contactanos</label>
    </div>
    <hr class="hr-50">
<div class="col-lg-10 col-md-12 ofsset-md-2 col-sm-0 offset-sm-0 offset-lg-1 d-flex justify-content-center">
    <div class="card mt-2  "> 
        <div class="  "> 
      
        </div> 
        
            <div > 
                <div class="text-color-6C3483 label-h6 ">Direccion : <span>Gral. Mariano Acha 752 (Sur) - San Juan , Argentina</span></div> 
                <div class="text-color-6C3483 label-h6 mt-2"><p class="">Telefono : <span>  0264 422-8400</span> </p></div> 
                <p class="font-weight-bold"> WhatsApp : <span><i class="fab fa-whatsapp"></i>
                  <a class="colorgris" href= "https://api.whatsapp.com/send?l=es&phone=5492644128712&text=Buen%20dia%20%2Cquisiera%20solicitar%20un%20turno&source=&data=" >
                    264 4128712
                  </a> </span> </p>
  
                  <p class="font-weight-bold">E-mail : <span>  consultas@delavision.com.ar</span> </p>
                <p class="font-weight-bold">Horarios de atención : </p> 
                <p class="text-justify"><span>  Lunes a Viernes de 08:00 a 21:00</span>
                  <br>
                  <span >  Sabados de 08:00 a 12:00</span>
                </p>
                
                      <h4 class="label-h6 ">Donde encontrarnos</h4>
                    <hr>
                  <div class="gmap_canvas"><iframe  height="360" id="gmap_canvas" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3400.30619858834!2d-68.52571698515409!3d-31.54321030955351!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x96816a9de29c0475%3A0x99e26838623d9904!2sClinica+de+la+Vision!5e0!3m2!1ses-419!2sar!4v1543161704645" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
                  </div>
                
                </div> 
        <div class="card-img mt-2"> 
        
        </div> 
      
        <div class="card-bottom"> 
        <div class="card-title">         
        </div> 
       
      
        </div> 
        
        </div>
      </div>
  </div>