
<div class=" background-white">
        <div class=" row d-flex justify-content-center">
            <label class="animated fadeIn slow label-h3 mt-5 ">Estudios</label>
        </div>
        <hr class="hr-50">
    <div class=" " >
        <div class="flexbox row">
            <div class="card mt-2 "> 
                <div class="social"> 
              
                </div> 
                <a href="#"> 
                    <div class="bottom-details"> 
                        <div class="text-color-6C3483 label-h6 ">Retinografía</div> 
                        
                        </div> 
                <div class="card-img mt-2"> 
                <img src="./assets/images/estudios/retinografia.jpg">
                </div> 
              
                <div class="card-bottom"> 
                <div class="card-title"> 
                <p> 
                    ¿Qué es la retinografía? Técnicamente, la retinografía es una prueba muy sencilla e indolora para el paciente. No hace falta ninguna preparación previa ni es necesario anestesiar. Tan solo se dilata la pupila del paciente para poder observar con mayor extensión la retina.  
                </p> 
                </div> 
               
              
                </div> 
                </a> 
                </div>

                <div class="card mt-2"> 
                    <div class="social"> 
                 
                    </div> 
                    <a href="#"> 
                        <div class="bottom-details"> 
                            <div class="text-color-6C3483 label-h6"> Microscopia endotelial</div> 
                            
                            </div> 
                    <div class="card-img mt-2"> 
                    <img src="./assets/images/estudios/microcospiaendtelial.jpg">
                    </div> 
                  
                    <div class="card-bottom"> 
                    <div class="card-title"> 
                    <p> La microscopía especular nos permite realizar el estudio del endotelio corneal.  La microscopía especular nos da una imagen refleja de la interfase óptica que hay entre el endotelio corneal y el humor acuoso, aunque también puede usarse para obtener imágenes del epitelio y del estroma corneal, así como del cristalino.  </p> 
                    </div> 
                   
                  
                    </div> 
                    </a> 
                    </div>

                    
                    <div class="card mt-2"> 
                        <div class="social"> 
                
                        </div> 
                        <a href="#"> 
                            <div class="bottom-details"> 
                                <div class="text-color-6C3483 label-h6">Tomografía de coherencia óptica OCT 
                                  </div> 
                                
                                </div> 
                        <div class="card-img mt-2"> 
                        <img src="./assets/images/estudios/oct.jpg">
                        </div> 
                      
                        <div class="card-bottom"> 
                        <div class="card-title"> 
                        <p> 
                            La Tomografia de coherencia óptica o comúnmente conocida como OCT, es una técnica de diagnóstico, control y seguimiento, que nos permite el estudio de cortes histológicos de la retina. La OCT es una prueba que no es molesta para el paciente, no requiere contacto con el ojo, es rápida y carece de efectos secundarios por lo que ha desbancado en la mayoría de los casos a otras pruebas diagnósticas  
                        </p> 
                        </div> 
                       
                      
                        </div> 
                        </a> 
                        </div>
        


                        <div class="card mt-2"> 
                            <div class="social"> 
                    
                            </div> 
                            <a href="#"> 
                                <div class="bottom-details"> 
                                    <div class="text-color-6C3483 label-h6">Paquimetría 
                                      </div> 
                                    
                                    </div> 
                            <div class="card-img mt-2"> 
                            <img src="./assets/images/estudios/paquimetria.jpg">
                            </div> 
                          
                            <div class="card-bottom"> 
                            <div class="card-title"> 
                            <p> 
                                La paquimetría es un examen indoloro que permite medir el grosor de la córnea. El paquímetro es una sonda que se coloca suavemente en la parte frontal del ojo (la córnea) y mide su espesor. La paquimetría puede ayudar a su diagnóstico, ya que el espesor corneal puede influir en las lecturas de su presión ocular


                            </p> 
                            </div> 
                           
                          
                            </div> 
                            </a> 
                            </div>


                                 <div class="card mt-2"> 
                        <div class="social"> 
                
                        </div> 
                        <a href="#"> 
                            <div class="bottom-details"> 
                                <div class="text-color-6C3483 label-h6">Topografia corneal

                                  </div> 
                                
                                </div> 
                        <div class="card-img mt-2"> 
                        <img src="./assets/images/estudios/topografiacorneal.jpg">
                        </div> 
                      
                        <div class="card-bottom"> 
                        <div class="card-title"> 
                        <p> 
                            ¿Qué es una topografía corneal? La topografía corneal es una herramienta diagnóstica computerizada que crea un mapa tridimensional de la superficie curva de la córnea. La córnea es la parte transparente más externa del ojo que tiene forma de bóveda y cuyo tamaño es similar al diámetro del iris (zona coloreada del ojo). La gran ventaja de la topografía corneal sobre otros métodos es su facilidad para detectar irregularidades corneales invisibles por medio de la mayoría de los exámenes convencionales.


                        </p> 
                        </div> 
                       
                      
                        </div> 
                        </a> 
                        </div>


                        <div class="card mt-2"> 
                            <div class="social"> 
                    
                            </div> 
                            <a href="#"> 
                                <div class="bottom-details"> 
                                    <div class="text-color-6C3483 label-h6">Retinofluoresceinografia 
                                      </div> 
                                    
                                    </div> 
                            <div class="card-img mt-2"> 
                            <img src="./assets/images/estudios/retinofluoresceinografia.jpg">
                            </div> 
                          
                            <div class="card-bottom"> 
                            <div class="card-title"> 
                            <p> 
                                Por medio de la inyección de un colorante, la fluoresceína, - se resaltan las alteraciones del fondo de ojo. Permite estudiar las capas profundas de la circulación del ojo por detrás de la retina, utilizando un colorante (off level) usado en cardiología.


                            </p> 
                            </div> 
                           
                          
                            </div> 
                            </a> 
                            </div>



                            <div class="card mt-2"> 
                                <div class="social"> 
                        
                                </div> 
                                <a href="#"> 
                                    <div class="bottom-details"> 
                                        <div class="text-color-6C3483 label-h6">Campo visual computarizado

                                          </div> 
                                        
                                        </div> 
                                <div class="card-img mt-2"> 
                                <img src="./assets/images/estudios/campovisualcomputarizado.jpg">
                                </div> 
                              
                                <div class="card-bottom"> 
                                <div class="card-title"> 
                                <p> 
                                    ¿Qué es el Estudio de Campo Visual Computarizado o CVC? Nuestros #ojos tienen la habilidad de ver lo que ocurre en los laterales, mientras fijamos la mirada en un punto en el frente. La visión de los laterales se la llama #visiónperiférica El estudio de Campo Visual Computarizado, evalúa principalmente la sensibilidad del ojo justamente en la visión periférica. Es un estudio clave en la detección temprana de Glaucoma y también para determinar Degeneración Macular, entre otros.


                                </p> 
                                </div> 
                               
                              
                                </div> 
                                </a> 
                                </div>


        </div>
    </div>    
 
</div>
<br>
<br>
