<div class=" background-white">
    <div class=" col-lg-10 col-md-12 ofsset-md-2 col-sm-0 offset-sm-0 offset-lg-1 ">
       <div class="  d-flex justify-content-start"><label class="animated fadeIn slow label-h6 mt-5 muted">Patología</label></div> 
        <div class="  d-flex justify-content-start" ><i class="fas fa-chevron-left fa-2x mr-5 mt-1 my-hover" routerLink="/patologia"></i><label class="animated fadeIn slow label-h2  "><b>MIOPIA</b></label></div>
    </div>
  
    <hr class="hr-100">

        <div class="  d-flex justify-content-center col-lg-8 col-md-12 ofsset-md-2 col-sm-0 offset-sm-0 offset-lg-2 mb-5 ">
          <img src="./assets/images/patologias/MIOPIA.jpg" alt="image" style="display: inline-block; height: 400px; ">
        </div>
  
      
        
    <div class="  d-flex justify-content-center col-lg-8 col-md-12 ofsset-md-2 col-sm-0 offset-sm-0 offset-lg-2">
        <p  class="animated fadeIn slow label-h5  "><b class="label-h4">L</b>a 
          miopía es un error refractivo, lo que significa que el ojo no refracta la luz adecuadamente para ver las imágenes con claridad. Cuando existe una miopía, los objetos cercanos se ven claramente, pero los distantes se ven borrosos. Este es un desorden de los ojos relacionado con el enfoque, no una enfermedad de los ojos. Para hacer posible que nuestros ojos vean, los rayos de luz deben ser doblados o refractados por la córnea y el cristalino y así poder ser enfocados en la retina, la capa de células fotosensibles que recubre la parte posterior del ojo. La retina recibe la imagen formada por los rayos de luz y la envía al cerebro a través del nervio óptico.




        </p>
      </div>

      <hr class="hr-100">
      <br>
</div>